:root{
  --dark-color: #5F4149;
  --grey-clr: #AFB3BF;
  --light-pink-clr: #D993A6;
  --black-clr: #000000;
  --white-clr: #ffffff;
}

*{
    padding: 0;
    margin: 0;
  }
body{
    font-family: 'Edu NSW ACT Foundation', Verdana, Arial, cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(../images/tablePlantMedium.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 24rem;
    background-size: cover;
}

/* Everything stays in between header and footer */
.content{
    flex: auto;
    background-image: linear-gradient(var(--grey-clr), var(--light-pink-clr));
  }

/* General style removal */
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  i{
    color: var(--black-clr);
  }

/* Navigation */
  .navItem .active-page{
  color: var(--dark-color);
  }

  nav{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--grey-clr);
  }

  #navCustom{
    background-color: transparent;
  }
  
  nav a{
    color: var(--black-clr);
  }
  
  nav a:hover{
    color: var(--dark-color);
    text-decoration: underline;
  }
  
  .navMenu{
    display: flex;
    gap: 3rem;
    padding: 0.5em 2em;
    font-size: 2rem;
  }


  /* Hamburger menu for smaller screen */

  .hamburger{
    display: none;
    cursor: pointer;
    margin: 1rem;
  }

  .bar{
    display: block;
    width: 1.5rem;
    height: 0.18rem;
    margin: 0.32rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black-clr);
  }

/* Introduction box */
  main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6.25rem;
    color: var(--black-clr);
  }

  .introduction,
  .jobTitle,
  .paragraphTitle{
    font-size: 2.7rem;
  }
  
  .jobTitle{
    padding-bottom: 1rem;
    font-style: italic;
    color: var(--dark-color);
  }
  
  .icons{
    display: flex;
    gap: 1rem;
  }

  .resume{
    padding: 0 1em;
    margin: 0.156rem 0;
    background-color: var(--black-clr);
    border: 1px solid var(--black-clr);
    border-radius: 5px;
    
  }

  .resume a{
    color: #918E90;
    font-size: 1.3rem;
    font-weight: 900;
  }
  
/* Content */

.paragraphTitle{
    text-align: center;
    padding: 1em 0;
    margin-bottom: 2rem;

    -webkit-text-decoration: black solid underline;
    text-decoration: black solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    
  }
  
  #mobileShow{
    display: none;
  }

.aboutMe{
  font-size: 2.2rem;
  text-align: center;
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
  line-height: 2.5rem;
}

.skillBubbles{
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4{
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 3em;
  color: var(--white-clr);
  padding: 2em;
  font-size: 1.5rem;
}

.projectShowcase{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 4%;
  justify-items: center;
}

.box:hover,
.bubble1:hover,
.bubble2:hover,
.bubble3:hover,
.bubble4:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 4%;
  margin: 0 1rem;
  background-color: var(--dark-color);
  color: var(--white-clr);
  border-radius: 2rem;
  max-width: 35rem;
  text-align: center;
}

.box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 2rem;
}

.boxTitle{
  font-size: 2rem;
}

.boxDescription{
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Contact form */
.contactForm {
  border-radius: 2rem;
  background-color: var(--dark-color);
  padding: 3rem;
  margin: 5% 15%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
  color: var(--white-clr);
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--dark-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e6d5d7;
  font-size: 1.2rem;
}

input[type=submit]:hover {
  background-color: #c4bdbd;
}

input[type=submit] {
  background-color: #e6d5d7;
  color: black;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 70%;
}

  /* Footer */
footer{
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    font-size: 1.5rem;
  }
  
  footer,
  footer i,
  footer a{
    color: var(--white-clr);
  }

  @media (max-width: 1245px){
    header{
      background-image: none;
      background-color: var(--grey-clr);
      min-height: fit-content;
    }

    main{
      margin-right: 5%;
      margin-left: 5%;
    }

    .resume a{
      color: var(--grey-clr);
    }

  }


  @media (max-width: 760px){

    #desktopShow{
      display: none;
    }

    #mobileShow{
      display: block;
    }

    .skillBubbles{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      row-gap: 20%;
      margin: 5%;
      justify-items: center;
    }

    main{
      justify-content: center;
      
    }

    .projectShowcase{
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
    }

    /* Hamburger menu show */
    .hamburger{
      display: block;
    }

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
      position: fixed;
      right: -100%;
      top: 0;
      padding: 0;
      gap: 0;
      flex-direction: column;
      backdrop-filter: blur(5px);
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }

    .navItem{
      margin: 1rem 0;
    }

    .navMenu.active{
      right:0;
    }
    
    .contactForm{
      margin: 5%;
    }

    input[type=submit]{
      margin-right: 0;
    }

    footer{
      font-size: 1.2rem;
    }
  }
    