*{
    padding: 0;
    margin: 0;
  }
body{
    font-family: 'Edu NSW ACT Foundation', Verdana, Arial, cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(../images/tablePlantMediumCropped.jpg);
    background-repeat: no-repeat;
    /* background-position: top; */
    width: 100%;
    height: 400px;
    background-size: cover;
}

/* Everything put in between header and footer */
.content{
    flex: auto;
    background-image: linear-gradient(#AFB3BF, #D993A6);
  }

/* General style removal */
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  i{
    color: black;
  }

/* Navigation */
  nav{
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  
  nav a{
    color: #000000;
  }
  
  nav a:hover{
    color: #5F4149;
    font-weight: bold;
  }
  
  nav ul{
    display: flex;
    gap: 57px;
    padding: 24px 100px;
    font-size: 30px;
    font-weight: 400;
  }

/* Introduction box */
  main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 100px;
    color: #04070D;
  }
  
  .introduction{
    font-size: 42px;
    padding-bottom: 8px;
  }
  
  .jobTitle{
    font-size: 42px;
    padding-bottom: 16px;
    font-style: italic;
    color: #5F4149;
  }
  
  .icons{
    display: flex;
    gap: 24px;
  }

  .resume{
    padding: 0px 10px;
    margin: 2.5px 0px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    
  }

  .resume a{
    color: #918E90;
    font-size: 20px;
    font-weight: 900;
  }
  
/* Content */

.paragraphTitle{
    font-size: 42px;
    text-align: center;
    padding: 40px 0px;

    -webkit-text-decoration: black solid underline;
    text-decoration: black solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    
  }

.aboutMe{
  font-size: 24px;
  text-align: center;
  padding: 0px 200px;
}

.skillBubbles{
  display: flex;
  gap: 200px;
  justify-content: center;
  padding-bottom: 40px;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4{
  background-color: #5F4149;
  border: 1px solid #5F4149;
  border-radius: 60px;
  color: #fff;
  padding: 40px;
  font-size: 20px;
}


  /* Footer */
footer{
    background-color: #5F4149;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
  }
  
  footer,
  footer i,
  footer a{
    color: #fff;
  }