*{
    padding: 0;
    margin: 0;
  }
body{
    font-family: 'Edu NSW ACT Foundation', Verdana, Arial, cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(../images/tablePlantMedium.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 24rem;
    background-size: cover;
}

/* Everything put in between header and footer */
.content{
    flex: auto;
    background-image: linear-gradient(#AFB3BF, #D993A6);
  }

/* General style removal */
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  i{
    color: black;
  }

/* Navigation */
  nav{
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  
  nav a{
    color: #000000;
  }
  
  nav a:hover{
    color: #5F4149;
    font-weight: bold;
  }
  
  nav ul{
    display: flex;
    gap: 3rem;
    padding: 0.5em 2em;
    font-size: 2rem;
    /* font-size:clamp(1rem, -0.8750rem + 0.83333vw, 3.5rem); */
  }

/* Introduction box */
  main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6.25rem;
    color: #04070D;
  }

  .introduction,
  .jobTitle,
  .paragraphTitle{
    font-size: 2.7rem;
  }
  
  .jobTitle{
    padding-bottom: 1rem;
    font-style: italic;
    color: #5F4149;
  }
  
  .icons{
    display: flex;
    gap: 1rem;
  }

  .resume{
    padding: 0 1em;
    margin: 2.5px 0;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    
  }

  .resume a{
    color: #918E90;
    font-size: 1.3rem;
    font-weight: 900;
  }
  
/* Content */

.paragraphTitle{
    text-align: center;
    padding: 1em 0;

    -webkit-text-decoration: black solid underline;
    text-decoration: black solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    
  }

.aboutMe{
  font-size: 1.5rem;
  text-align: center;
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
}

.skillBubbles{
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4{
  background-color: #5F4149;
  border: 1px solid #5F4149;
  border-radius: 3em;
  color: #fff;
  padding: 2em;
  font-size: 1.5rem;
}

.projectShowcase{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box{
  background-color: #5F4149;
  max-width: fit-content;
  margin: 3rem;
  padding: 1rem;
  border: 0.1rem solid #5F4149;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.box img{
  max-width: 30rem;
  border-radius: 1.5rem;
}

.boxTitle{
  padding: 0.5rem;
  font-size: 2rem;
}

.boxDescription{
  padding: 0.5em;
}

  /* Footer */
footer{
    background-color: #5F4149;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    font-size: 1.5rem;
  }
  
  footer,
  footer i,
  footer a{
    color: #fff;
  }

  @media (max-width: 1245px){
    header{
      background-image: none;
      background-color: #AFB3BF;
      min-height: fit-content;
    }

    main{
      margin-right: 5%;
      margin-left: 5%;
    }

    .resume a{
      color: #AFB3BF;
    }

    .projectShowcase{
      flex-wrap: wrap;
    }

  }
